In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('One_hot_encoding.csv')

In [3]:
df

   Emp id  Gender Remarks
0      10    Male    Good
1      20  Female    Nice
2      30    Male    Good
3      40  Female   Great
4      50    Male    Nice

In [4]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [5]:
df['Remarks'].unique()

array(['Good', 'Nice', 'Great'], dtype=object)

In [6]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
features_array = ohe.fit_transform(df[['Gender', 'Remarks']]).toarray()

In [11]:
features_array

array([[0., 1., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0.],
       [1., 0., 0., 1., 0.],
       [0., 1., 0., 0., 1.]])

In [7]:
labels = ohe.categories_
print(labels)

[array(['Female', 'Male'], dtype=object), array(['Good', 'Great', 'Nice'], dtype=object)]

In [8]:
labels = np.array(['Female', 'Male', 'Good', 'Great', 'Nice'])

In [9]:
features = pd.DataFrame(features_array, columns = labels )

In [10]:
pd.concat([df, features], axis = 1)

   Emp id  Gender Remarks  Female  Male  Good  Great  Nice
0      10    Male    Good     0.0   1.0   1.0    0.0   0.0
1      20  Female    Nice     1.0   0.0   0.0    0.0   1.0
2      30    Male    Good     0.0   1.0   1.0    0.0   0.0
3      40  Female   Great     1.0   0.0   0.0    1.0   0.0
4      50    Male    Nice     0.0   1.0   0.0    0.0   1.0