In [2]:
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
df=pd.read_csv("Salary Data.csv")
print(df)
print(df.columns)

     Age  Gender  Salary
0     32    Male   90000
1     28  Female   65000
2     45    Male  150000
3     36  Female   60000
4     52    Male  200000
..   ...     ...     ...
167   46    Male  150000
168   31  Female   50000
169   34    Male  105000
170   50  Female  180000
171   29    Male   40000

[172 rows x 3 columns]
Index(['Age', 'Gender', 'Salary'], dtype='object')

In [4]:
column=["Age","Salary"]

In [7]:
for i in column:
    data_column=df[i]
    print(i)
    print(type(data_column[0])) 
    data_numeric=np.array(data_column)
    mean=np.nanmean(data_numeric)
    median=np.nanmedian(data_numeric)
    mode=stats.mode(data_numeric)
    quartile=np.nanpercentile(data_numeric,[25,50,75])
    std=np.nanstd(data_numeric)

    print("Mean:",mean)
    print("Median:",median)
    print("Mode:",mode)
    print("Quartile:",quartile[0])
    print("Quartile:",quartile[1])
    print("Quartile:",quartile[2])
    print("Std:",std)

Age
<class 'numpy.int64'>
Mean: 37.127906976744185
Median: 36.0
Mode: ModeResult(mode=29, count=11)
Quartile: 30.75
Quartile: 36.0
Quartile: 43.0
Std: 7.72386292019423
Salary
<class 'numpy.int64'>
Mean: 96453.48837209302
Median: 90000.0
Mode: ModeResult(mode=40000, count=13)
Quartile: 50000.0
Quartile: 90000.0
Quartile: 130000.0
Std: 49473.191466467695