In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("DMA_exp_2.csv")
print(df)

   name  maths  english  hindi
0     A   89.0     56.0     19
1     B   56.0     65.0     49
2     C   45.0     99.0     79
3     D   89.0     65.0     89
4     E    NaN     23.0     59
5     F   56.0     56.0     23
6     G   98.0      NaN     31
7     H   56.0     23.0     98
8     I   89.0     56.0     64
9     J   97.0     65.0     98
10    K   99.0     32.0     65
11    L   56.0     65.0     49

In [2]:
missing=df.isnull().sum()
print(missing)

name       0
maths      1
english    1
hindi      0
dtype: int64

In [3]:
data_clean=df.dropna()
data_unique=df.drop_duplicates()
print(data_clean)
print(data_unique)

   name  maths  english  hindi
0     A   89.0     56.0     19
1     B   56.0     65.0     49
2     C   45.0     99.0     79
3     D   89.0     65.0     89
5     F   56.0     56.0     23
7     H   56.0     23.0     98
8     I   89.0     56.0     64
9     J   97.0     65.0     98
10    K   99.0     32.0     65
11    L   56.0     65.0     49
   name  maths  english  hindi
0     A   89.0     56.0     19
1     B   56.0     65.0     49
2     C   45.0     99.0     79
3     D   89.0     65.0     89
4     E    NaN     23.0     59
5     F   56.0     56.0     23
6     G   98.0      NaN     31
7     H   56.0     23.0     98
8     I   89.0     56.0     64
9     J   97.0     65.0     98
10    K   99.0     32.0     65
11    L   56.0     65.0     49

In [7]:
print(df.shape)
print(data_unique.shape)

(12, 4)
(12, 4)

In [10]:
data_clean.to_csv("New_exp2.csv",index=False)